:root{
    --body: hsl(0, 100%, 74%); 
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
    --white:#fff;
    --shadow-button-green: hsl(154, 57%, 38%);
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url('../asset/images/bg-intro-desktop.png');
    background-color: var(--body);
    text-align: center;
    display: grid;
    color:var(--white) ;
    padding: 0 10px;
}

.header{
    padding: 50px 0;
}


.section__header{
    background-color: var(--Blue);
    padding: 5px 50px;
    border-radius: 10px;
    width: 230px;
    margin: 0 auto 25px auto;
    box-shadow: 0px 7px 5px 3px rgba(0, 0, 0, 0.2);
}
.section__text-span{
    color: var(--Grayish-Blue);
}

.form{
    width: 330px;
    margin: 0 auto;
    box-shadow: 0px 7px 5px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    border-radius: 10px;
    background-color: var(--white);
}

.form__field{
    position: relative;
}
.form__field.error{
    margin-bottom: 10px;
    font-size: 12px;
}
.form__field.error input{
    border: 2px solid var(--body);
}
.form__field.error::after{
    content: attr(data-error);
    position: absolute;
    color: var(--body);
    left: 40%;
    bottom: -10px;
}
.form__field.error::before{
    content: url('../asset/images/icon-error.svg');
    position: absolute;
    right: 10px;
    bottom: 50%;
    transform: translateY(50%);
}
::placeholder{
    font-weight: 700;
}
.form__input{
    height: 50px;
    width: 280px;
    margin: 10px 0;
    border: none;
    border: 1px solid var(--Grayish-Blue);
    border-radius: 5px;
    padding-left: 15px;
}
.form__input:focus{
    outline: none;
    border:2px solid var(--Dark-Blue);
}


.form__submit{
    border: none;
    width: 280px;
    padding: 20px 0;
    background-color: transparent;
    background-color: var(--Green);
    border-radius: 5px;
    box-shadow: 1px 3px 1px  var(--shadow-button-green);
    font-weight: 600;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.form__terms{
    color: grey;
    font-size: .6rem;
    width: 220px;
}
.form__terms a{
    color: var(--body);
    font-weight: 700;
}