:root{
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    
    /*Background gradient:*/
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);
}
body{
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(var(--Soft-violet)70% ,var(--Soft-blue));
    background-repeat: no-repeat;
    margin: 0;
    padding: 0 15px;
}

@media screen and (min-width:1440px){
    body{
        display: grid;
        place-content: center;
        max-width: 1440px;
        margin: 0;
    }
}
.main{
    display: grid;

}
@media screen and (min-width:1440px){
    .main{
        grid-template-columns: repeat(1,1300px);
        grid-template-rows: 200px;
    }
}
@media screen and (min-width:1440px){
    .hide-image{
        overflow: hidden;
        position: relative;
        width: 480px;
        height: 450px;
        bottom: -250px;
        right: -125px;
       
    }
}
.container__image{
    position: relative;
    background-image: url('../faq-accordion-card-main/images/illustration-woman-online-mobile.svg');
    background-repeat: no-repeat;
    object-fit: contain;
    width: 100%;
    height: 200px;
    top: 90px;
    left: 50%;
    transform: translateX(-43%);
}
@media screen and (min-width:1440px){
    .container__image{
        position: absolute;
        background-image: url('../faq-accordion-card-main/images/illustration-woman-online-desktop.svg');
        height: 400px;
        width: 400px;
        padding-left: 350px;
        
    }
}

.section{
    background-color: #fff;
    border-radius: 30px;
    padding: 150px 0 50px 0;
    background-image: url('../faq-accordion-card-main/images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-position:50px 5px ;
}
@media screen and (min-width:1440px){
    .section{
        width: 50%;
        margin: auto;
        padding-top: 100px;
        padding-left: 400px;
        background-image: url('../faq-accordion-card-main/images/bg-pattern-desktop.svg');
        background-repeat: no-repeat;
        background-position: -450px -200px;
    }
    .section::after{
        content: url('../faq-accordion-card-main/images/illustration-box-desktop.svg');
        position: absolute;
        top: 52%;
        right: 80%;
        z-index: 10;
    }
}

.section__header{
    margin-bottom: 3rem;
}
.section__tittle{
    text-align: center;
    margin: 0;
    font-size: 2rem;
}
@media screen and (min-width:1440px){
    .section__tittle{
        width: 230px;
        text-align: right;
        font-size: 2.5rem; 
    }
}
.list{
    list-style: none;
    padding: 0 30px;
}
@media screen and (min-width:1440px){
    .list{  
     width: 400px;
     padding-left: 150px;
    }
}
.list__item{
    border-bottom: 1px solid grey;
    padding: 5px;
}
@media screen and (min-width:1440px){
    .list__item{
        margin-top: 20px;
    }
}
.article{
    position: relative;
    overflow: hidden;
    height:30px;
    transition: height .4s ease-in-out;
    padding: 0 0 15px 0;
    cursor: pointer;
}

.article--show{
    height: 110px;

}
.article__title{
    font-size: 13px;
    font-weight: 400;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}
@media screen and (min-width:1440px){
    .article__title{
        font-size: 16px;
    }
}
.article__title--active{
    font-weight: 700;
}
.article__icon{
    width: 15px;
    height: 10px;
    padding-left: 10px;
    transition: transform .3s;
    cursor: pointer;
}
.article__icon--active{
    transform: rotate(180deg);
}

.article__text{
    position: absolute;
}
